<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /page
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /properties-details/[slug]/index.html [L]
  RewriteRule . /article-details/[slug]/index.html [L]

</IfModule>