@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");

:root {
  --primary-color: #087c7c;
  --primary-sell: #e8aa42;
  --primary-font: "Manrope", sans-serif;
  --primary-background: #f4f5f4;
}


@media only screen and (max-width: 1100px) {

  #hamburg {
    display: block;
    color: white;
  }

}

@media only screen and (max-width: 1900px) {
  .dropdown-menu {
    width: 30vh !important;
  }
}

@media only screen and (max-width: 1315px) {
  /* .logo {
    height: 100;
    width: 100;

  } */
  .left-side {
    /* display: grid;
      grid-template-columns: 1fr; */
    display: flex;
    margin-left: 5%;
  }
  .center-side {
    display: grid;
    grid-template-columns: 7fr;
  }
  .right-side {
    display: grid;
    grid-template-columns: 4fr;
    margin-right: 5%;
    color: #ffffff;
  }
  .dropdown-menu {
    width: 40vh !important;
  }
}
@media only screen and (max-width: 1172px) {
  .left-side {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 2%;
  }
  .center-side {
    display: grid;
    grid-template-columns: 8fr;
  }
  .right-side {
    display: grid;
    grid-template-columns: 3fr;
    margin-right: 2%;
    color: #ffffff;
  }
  .dropdown-menu {
    width: 40vh !important;
  }
}
@media only screen and (max-width: 1100px) {
  .center-side {
    display: none !important;
  }
  .right-side {
    display: none !important;
  }
  .left-side {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
  }
  .navbar-expand-lg .navbar-toggler {
    display: block !important;
  }
  .mobile_nav {
    color: #000;
  }
  .navbar-nav {
    align-items: flex-start;
    gap: 25px;
  }
  #mobile-ul {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }
  .nav-item {
    color: #fff !important;
    background-color: var(--primary-color);
    font: var(--primary-font);
    width: 100%;
    border-radius: 10px;
    text-align: -webkit-center;
    /* display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline; */
  }
  .mobile-nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    align-items: center;
    text-align: -webkit-center;
  }
  .mobile-nav-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    text-align: -webkit-center;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  div.dropdown {
    width: 100%;
    background-color: var(--primary-color);
    width: 100%;
    color: #ffffff !important;
    border-radius: 10px;
  }
  .dropdown-menu {
    width: 40vh !important;
  }
  #dropdown-basic {
    color: #ffffff !important;
    padding-left: 0;
    padding-right: 0;
  }
  #addbutton-mobile {
    color: #ffffff !important;
    background: transparent;
    border: none;
    padding: 10px;
    width: 100%;
  }
  .offcanvas-header .btn-close:focus {
    border: 2px solid var(--primary-color);
    box-shadow: var(--primary-color) !important;
  }
}

/* ============================ HOME PAGE CSS ==================================== */
/* hero section responsive css */

/* @media only screen and (max-width: 1800px) {
  #mainheroImage {
    width: 1800px;
    background-size: 1800px 900px;
    overflow: hidden;
  }
} */
@media screen and (min-width: 1400px) {
  #mainheroImage {
    width: auto;
    background-size: cover;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  #mainheroImage {
    width: auto;
    background-size: cover;
    overflow: hidden;
  }
  .filter {
    left: 70%;
  }
  .find {
    left: 72%;
  }
  .view_prop {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #mainheroImage {
    width: auto;
    background-size: cover;
    overflow: hidden;
  }
  .view_prop {
    width: 100%;
  }
  .filter {
    left: 65%;
  }
  .find {
    left: 67%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #mainheroImage {
    width: auto;
    background-size: cover;
    overflow: hidden;
  }
  .view_prop {
    width: 100%;
  }
  .filter {
    left: 53%;
  }
  .find {
    left: 55%;
  }
}
@media only screen and (min-width: 575px) and (max-width: 767px) {
  #mainheroImage {
    width: auto;
    background-size: cover;
    overflow: hidden;
  }
  .view_prop {
    width: 100%;
  }

  #searchcard {
    height: 17vh;
    width: auto;
    border-radius: 0px 8px 8px 8px;
    /* background-color: aqua;/ */
  }
  .searchinput {
    width: 80%;
    /* background-color: aqua; */
  }
  #leftside-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    justify-content: space-evenly;
  }

  .filter {
    left: 0;
    width: 164px;
  }
  .find {
    left: 0;
  }
}
@media only screen and (min-width: 400px) and (max-width: 574px) {
  #mainheroImage {
    width: auto;
    background-size: cover;
    overflow: hidden;
  }
  .view_prop {
    width: 100%;
  }
  #herotexts {
    position: relative;
    margin-left: 10%;
    /* top: 200px; */
  }
  #sellbutton {
    width: 140px;
  }
  #rentbutton {
    width: 173px;
  }
  #searchcard {
    height: 17vh;
    width: auto;
    border-radius: 0px 8px 8px 8px;
    /* background-color: aqua;/ */
  }
  .searchinput {
    width: 80%;
    /* background-color: aqua; */
  }
  #leftside-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    justify-content: space-evenly;
  }

  .filter {
    left: 0;
    width: 164px;
  }
  .find {
    left: 0;
  }
}
@media only screen and (min-width: 375px) and (max-width: 399px) {
  #mainheroImage {
    width: auto;
    background-size: cover;
    overflow: hidden;
  }
  #herotexts {
    position: relative;
    margin-left: 10%;
    /* top: 200px; */
  }
  .view_prop {
    width: 100%;
  }
  #sellbutton {
    width: 140px;
  }
  #rentbutton {
    width: 173px;
  }
  #priceteg {
    font-size: 20px;
    line-height: 30px;
  }
  #hero_headlines {
    font-size: 40px;
  }
  #specifiaction {
    font-size: 17px;
    line-height: 25px;
  }
  #leftside-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    justify-content: space-evenly;
  }

  .filter {
    left: 0;
    width: 164px;
  }
  .find {
    left: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 374px) {
  #mainheroImage {
    width: auto;
    background-size: cover;
    overflow: hidden;
  }
  #herotexts {
    position: relative;
    margin-left: 10%;
    font-size: medium;
    /* top: 128px; */
  }
  #priceteg{
    font-size: 20px;
    line-height: 30px !important;
  }
  #hero_headlines{
    font-size: 35px !important;
  }
  #specifiaction {
    font-size: 22px !important;
    line-height: 30px;
  }
  .view_prop {
    width: 100%;
  }
  #tabs {
    display: flex !important;
    flex-direction: row !important;
  }
  #searchbox {
    position: relative;
    bottom: 12vh;
    z-index: 5;
  }

  #sellbutton {
    width: 148px;
  }
  #rentbutton {
    width: 148px;
  }
  #searchcard {
    height: 18vh;
    width: auto;
    border-radius: 0px 3px 8px 8px;
    /* background-color: aqua;/ */
  }
  #leftside-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    justify-content: space-evenly;
  }

  .filter {
    left: 0;
    width: 135px;
  }
  .find {
    left: 0;
    width: 135px;
  }
}

/* ######################### FEATURE SECTION  ########################### */

@media only screen and (min-width: 1385px) and (max-width: 1403px) {
  .feature_sec {
    margin: 0 5% 0 5%;
  }
  .sell_teg {
    top: 169px;
  }
  .price_teg {
    top: 155px;
  }
}
@media only screen and (min-width: 1160px) and (max-width: 1386px) {
  #feature {
    height: 80vh;
  }
  .laptop_view {
    display: none;
  }
  .mobile_view {
    display: none;
  }
  .tablat_view {
    display: block;
    margin-top: 10rem;
  }
  .swiper {
    width: 1030px !important;
    height: 450px !important;
  }
  .swiper-slide {
    width: 320px !important;
  }
  #fea_main_card {
    width: 20rem;
    border-radius: 12px;
  }
  .sell_teg {
    top: 185px;
  }
  .price_teg {
    top: 170px;
  }
}
@media only screen and (min-width: 840px) and (max-width: 1159px) {
  #feature {
    height: 90vh;
  }
  .laptop_view {
    display: none;
  }
  .mobile_view {
    display: none;
  }
  .tablat_view {
    display: block;
    margin-top: 10rem;
  }
  .swiper {
    width: 75 0px !important;
    height: 450px !important;
  }
  .swiper-slide {
    width: 350px !important;
  }
  #fea_main_card {
    width: 20rem;
    border-radius: 12px;
  }
  .sell_teg {
    top: 185px;
  }
  .price_teg {
    top: 170px;
  }
}
@media only screen and (min-width: 730px) and (max-width: 839px) {
  #feature {
    height: 94vh;
  }
  .swiper {
    margin: 0 !important;
  }
  .laptop_view {
    display: none;
  }
  .mobile_view {
    display: block;
    position: relative;
    top: 10rem;
    overflow: hidden;
  }

  .tablat_view {
    display: none !important;
  }
  .swiper {
    width: 600px;
    height: 500px;
  }
  .sell_teg {
    top: 225px;
  }
  .price_teg {
    top: 200px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 729px) {
  #feature {
    height: 80vh;
    bottom: 26vh;
  }
  #main_features {
    top: 10rem;
  }
  .laptop_view {
    display: none;
  }
  .mobile_view {
    display: block;
    position: relative;
    top: 12rem;
    overflow: hidden;
  }
  .feature_header {
    display: none;
  }
  .mobile_view_headline01 {
    display: flex;
    color: #000;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 0 5% 0 5%; */
    position: relative;
    /* top: 30px; */
  }
  .headline {
    font-size: 20px;
  }
  .rightside_header {
    display: none;
  }
  #mobile_view_titles {
    display: block;
  }
  .view_all_arrow {
    background: white;
    color: var(--primary-color);
    border: 1px solid #000;
    border-radius: 50%;
    height: 4vh;
  }
  .tablat_view {
    display: none !important;
  }
  .swiper {
    width: 420px;
    height: 500px;
    margin-right: 0;
    margin-left: 0;
  }
  .swiper-pagination {
    display: none;
  }
  .sell_teg {
    top: 152px;
  }
  .price_teg {
    top: 130px;
  }
}

/* ######################### Apartment Section ################## */

@media screen and (min-width: 1400px) {
  .aprt_cards {
    overflow: hidden;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  #view_appartment {
    min-width: 450px;
    width: 450px;
    height: 500px;
  }
  .view_apart {
    width: 80%;
  }
  .aprt_cards {
    overflow: hidden;
  }
  #apart_swiper {
    width: 1000px !important;
    height: 330px !important;
  }
  #aprt-swiper-slider {
    width: 230px !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #view_appartment {
    min-width: 450px;
    width: 450px;
    height: 450px;
  }
  .view_apart {
    width: 80%;
  }
  .aprt_cards {
    display: none;
  }
  .apart_mobile_view {
    display: block;
    /* margin-left: 50px; */
    margin-top: 45px;
    margin-bottom: 45px;
    overflow: hidden;
  }
  #apart_mobile_swiper {
    width: 600px !important;
    height: 330px !important;
  }
  #aprt-swiper-slider {
    width: 230px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #view_appartment {
    min-width: 300px;
    width: 300px;
    height: 450px;
  }
  .view_apart {
    width: 100%;
  }
  .aprt_cards {
    display: none;
  }
  .apart_mobile_view {
    display: block;
    /* margin-left: 50px; */
    margin-top: 45px;
    margin-bottom: 45px;
    overflow: hidden;
  }
  #apart_mobile_swiper {
    width: 600px !important;
    height: 330px !important;
  }
  #aprt-swiper-slider {
    width: 230px !important;
  }
}
@media only screen and (min-width: 575px) and (max-width: 767px) {
  #view_appartment {
    display: none;
  }
  #apartment_all_content {
    display: flex;
    flex-direction: column;
    margin: 2% 8% 0 8%;
  }
  .mobile_view_headline02 {
    display: flex;
    color: #000;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .mobile_view_headline03 {
    display: flex;
    color: #000;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .mobile_view_headline04 {
    display: flex;
    color: #000;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .aprt_cards {
    display: none;
  }
  .apart_mobile_view {
    display: block;
    /* margin-left: 50px; */
    /* margin-top: 45px; */
    margin-bottom: 45px;
    overflow: hidden;
  }
  #apart_mobile_swiper {
    width: 600px !important;
    height: 330px !important;
  }
  #aprt-swiper-slider {
    width: 230px !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 574px) {
  #view_appartment {
    display: none;
  }
  #apartment_all_content {
    display: flex;
    flex-direction: column;
    margin: 2% 8% 0 8%;
  }
  .mobile_view_headline02 {
    display: flex;
    color: #000;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .mobile_view_headline03 {
    display: flex;
    color: #000;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .mobile_view_headline04 {
    display: flex;
    color: #000;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .aprt_cards {
    display: none;
  }
  .apart_mobile_view {
    display: block;
    /* margin-left: 50px; */
    /* margin-top: 45px; */
    margin-bottom: 45px;
    overflow: hidden;
  }
  #apart_mobile_swiper {
    width: 600px !important;
    height: 330px !important;
  }
  #aprt-swiper-slider {
    width: 230px !important;
  }
}

/* ######################### Properties Section ################## */
@media screen and (min-width: 1400px) and (max-width: 1800px) {
  #main_properties {
    overflow: hidden;
  }
  #prop_cards {
    margin: 0;
  }
  #main_prop_card {
    display: flex;
    flex-direction: row;
    width: 65vh;
    height: 22vh;
    border-radius: 12px;
  }
  #prop_card_img {
    height: 22vh;
  }
  #prop_card_footer {
    padding: 0 !important;
    font-size: 14px;
    width: 27vh;
    height: 0;
  }
  .prop_like {
    right: 46%;
  }
  .prop_price {
    right: 46%;
  }
  .cards_sec {
    gap: 15vh !important;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .cards_sec {
    gap: 10vh !important;
  }
  #prop_cards {
    margin: 0;
  }
  #main_prop_card {
    display: flex;
    flex-direction: row;
    width: 57vh;
    height: 22vh;
    border-radius: 12px;
  }
  #prop_card_img {
    height: 22vh;
    width: 26vh;
  }
  #prop_card_footer {
    padding: 10px 0 0 0 0;
    font-size: 14px;
    width: 28.5vh;
    height: 0;
  }
  .prop_like {
    right: 56%;
  }
  .prop_price {
    right: 54%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #main_properties {
    height: 68vh !important;
  }
  #prop_cards {
    display: none;
  }
  .tabletView {
    display: block !important;
  }
  #properties_tab_swiper {
    width: 900px !important;
    height: 330px !important;
    margin-top: 10rem;
    border-radius: 10px;
    overflow: hidden;
  }
  #properties-swiper-slider {
    width: 500px !important;
  }
  .cards_sec {
    gap: 10vh !important;
  }
  #prop_cards {
    margin: 0;
  }
  #main_prop_card {
    display: flex;
    flex-direction: row;
    width: 57vh;
    height: 22vh;
    border-radius: 12px;
  }
  #prop_card_img {
    height: 22vh;
    width: 26vh;
  }
  #prop_card_footer {
    padding: 10px 0 0 0 0;
    font-size: 14px;
    width: 28.5vh;
    height: 0;
  }
  .prop_like {
    right: 56%;
  }
  .prop_price {
    right: 54%;
  }
}
@media only screen and (min-width: 655px) and (max-width: 991px) {
  #main_properties {
    height: 80vh !important;
  }
  #prop_cards {
    display: none;
  }
  .mobileView {
    display: block;
    margin-top: 10rem;
  }
  #mobileSlider {
    width: 600px !important;
    height: 500px !important;
    /* margin-left: 39px !important; */
  }
  #prop-mobile-swiper-slider {
    width: 350px;
  }
  .prop-mobile_sell_teg {
    bottom: 230px !important;
  }
  .prop-mobile_like {
    right: 1rem !important;
  }
  .prop-mobile_price_teg {
    top: 9rem !important;
    right: 1rem;
  }
}
@media only screen and (min-width: 575px) and (max-width: 654px) {
  #main_properties {
    height: 90vh !important;
    overflow: hidden;
  }
  #prop_cards {
    display: none;
  }
  .mobileView {
    display: block;
    margin-top: 10rem;
  }
  #mobileSlider {
    width: 600px !important;
    height: 500px !important;
    /* margin-left: 39px !important; */
  }
  #prop-mobile-swiper-slider {
    width: 350px;
  }
  .prop-mobile_sell_teg {
    bottom: 230px !important;
  }
  .prop-mobile_like {
    right: 1rem !important;
  }
  .prop-mobile_price_teg {
    top: 9rem !important;
    right: 1rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 574px) {
  #main_properties {
    height: 75vh !important;
    overflow: hidden;
  }
  .properties_sec {
    margin: 0 5% 0 5%;
  }
  #prop {
    top: 60px;
  }
  .prop_header {
    display: none;
  }
  #prop_cards {
    display: none;
  }
  .mobileView {
    display: block;
    margin-top: 8rem;
  }
  #mobileSlider {
    width: 600px !important;
    height: 500px !important;
    /* margin-left: 39px !important; */
  }
  #prop-mobile-swiper-slider {
    width: 350px;
  }
  .prop-mobile_sell_teg {
    bottom: 230px !important;
  }
  .prop-mobile_like {
    right: 1rem !important;
  }
  .prop-mobile_price_teg {
    top: 9rem !important;
    right: 1rem;
  }
}

/* ######################### Properties City Section ################## */

/* Extra small devices (phones) */
@media (max-width: 575.98px) {
  #main_citySection .col-md-6 {
    width: 100%;
    height: 30vh;
  }
  #main_citySection.col-lg-6 {
    width: 100%;
    height: 20vh;
  }
  .mobile_view_headline {
    display: flex;
    color: #000;
    align-items: center;
    flex-direction: row;
    gap: 90px;
    margin: 0 5% 0 5%;
  }
  .view_all_arrow {
    background: white;
    color: var(--primary-color);
    border: 1px solid #000;
    border-radius: 50%;
    height: 4vh;
  }
  .prop_city_header {
    display: none;
  }
}

/* Small devices (tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #main_citySection .col-md-6 {
    width: 50%;
    height: 35vh;
  }
  .prop_header {
    display: none;
  }
  .mobile_view_headline {
    display: flex;
    color: #000;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 0 5% 0 5%; */
  }
  .view_all_arrow {
    background: white;
    color: var(--primary-color);
    border: 1px solid #000;
    border-radius: 50%;
    height: 4vh;
  }
  .prop_city_header {
    display: none;
  }
}
/* Medium devices (desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #main_citySection .col-lg-3 {
    width: 50%;
  }
  #main_citySection .col-md-6 {
    width: 50%;
    height: 35vh;
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #main_citySection .col-lg-3 {
    width: 50%;
    height: 35vh;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1400px) {
  #main_citySection .col-lg-3 {
    width: 25%;
  }
}

/* ######################### Most Fav Section ################## */
@media only screen and (min-width: 1404px) {
  #most_fav {
    overflow: hidden;
  }
  /* .sell_teg {
    top: 220px;
  }
  .price_teg {
    top: 200px;
  } */
}
@media only screen and (min-width: 1385px) and (max-width: 1403px) {
  #most_fav {
    overflow: hidden;
  }
  .most_fav_con {
    margin: 0 5% 0 5%;
  }
  .sell_teg {
    top: 169px;
  }
  .price_teg {
    top: 155px;
  }
}
@media only screen and (min-width: 1160px) and (max-width: 1386px) {
  #most_fav {
    height: 80vh;
  }
  .most_fav_slider {
    display: none;
  }
  .most_fav_mobile_view {
    display: none;
  }
  .most_fav_tablat_view {
    display: block;
    margin-top: 5rem;
  }
  .swiper {
    width: 1030px !important;
    height: 450px !important;
  }
  .swiper-slide {
    width: 320px !important;
  }
  #fea_main_card {
    width: 20rem;
    border-radius: 12px;
  }
  .sell_teg {
    top: 185px;
  }
  .price_teg {
    top: 170px;
  }
}
@media only screen and (min-width: 840px) and (max-width: 1159px) {
  #most_fav {
    height: 90vh;
  }
  .most_fav_slider {
    display: none;
  }
  .most_fav_mobile_view {
    display: none;
  }
  .most_fav_tablat_view {
    display: block;
    margin-top: 5rem;
  }
  .swiper {
    width: 75 0px !important;
    height: 450px !important;
  }
  .swiper-slide {
    width: 350px !important;
  }
  #fea_main_card {
    width: 20rem;
    border-radius: 12px;
  }
  .sell_teg {
    top: 185px;
  }
  .price_teg {
    top: 170px;
  }
}
@media only screen and (min-width: 730px) and (max-width: 839px) {
  #most_fav {
    height: 94vh;
  }
  .most_fav_header {
    display: none !important;
  }
  .swiper {
    margin: 0 !important;
  }
  .most_fav_slider {
    display: none;
  }
  .most_fav_mobile_view {
    display: block;
    position: relative;
    top: 5rem;
    overflow: hidden;
  }

  .most_fav_tablat_view {
    display: none !important;
  }
  .swiper {
    width: 600px;
    height: 500px;
  }
  .sell_teg {
    top: 225px;
  }
  .price_teg {
    top: 200px;
  }
  .most_fav_header {
    display: none !important;
  }
  .mobile_view_headline05 {
    display: flex;
    color: #000;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 0 5% 0 5%; */
    position: relative;
    top: 30px;
  }
  .view_all_arrow {
    background: white;
    color: var(--primary-color);
    border: 1px solid #000;
    border-radius: 50%;
    height: 4vh;
  }
  .view_all_arrow {
    background: white;
    color: var(--primary-color);
    border: 1px solid #000;
    border-radius: 50%;
    height: 4vh;
  }
  .most_fav_tablat_view {
    display: none !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 729px) {
  #most_fav {
    height: 65vh;
    bottom: 25vh;
  }
  #most_fav_header {
    top: 10rem;
  }
  .most_fav_slider {
    display: none;
  }
  .most_fav_mobile_view {
    display: block;
    position: relative;
    top: 5rem;
    overflow: hidden;
  }
  .headline {
    font-size: 20px;
  }
  .most_fav_header {
    display: none !important;
  }
  .mobile_view_headline05 {
    display: flex;
    color: #000;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 0 5% 0 5%; */
    position: relative;
    top: 30px;
  }
  .view_all_arrow {
    background: white;
    color: var(--primary-color);
    border: 1px solid #000;
    border-radius: 50%;
    height: 4vh;
  }
  .view_all_arrow {
    background: white;
    color: var(--primary-color);
    border: 1px solid #000;
    border-radius: 50%;
    height: 4vh;
  }
  .most_fav_tablat_view {
    display: none !important;
  }
  .swiper {
    width: 420px;
    height: 500px;
    margin-right: 0;
    margin-left: 0;
  }
  .swiper-pagination {
    display: none;
  }
  .sell_teg {
    top: 152px;
  }
  .price_teg {
    top: 130px;
  }
}

/* ######################### Agent Section ################## */
@media only screen and (min-width: 1400px) and (max-width: 1650px) {
  .browse-agent {
    margin: 20px 80px;
    /* width: 10%; */
  }
  .browse-agent button {
    width: 12vw;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1399px) {
  .browse-agent {
    margin: 20px 80px;
    width: 100%;
  }
  .browse-agent button {
    width: 16vw;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
  }
  #agent_swiper {
    height: 300px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .browse-agent {
    margin: 20px 50px;
    width: 100%;
  }
  .browse-agent button {
    width: 25vw;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
  }
  #agent_swiper {
    height: 300px !important;
  }
}
@media only screen and (min-width: 615px) and (max-width: 767px) {
  .browse-agent {
    display: none;
  }
  .mobile_view_headline07 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }
  .main-agent-sec {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 8% 0 8%;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
  }
  .agent-slider {
    display: none;
  }
  .agent-slider-mobile-view {
    display: block;
    margin-top: 10px;
  }
  #agent_swiper {
    width: 600px !important;
    height: 300px !important;
  }
  .view-agent-deatils {
    outline: none;
  }
}
@media only screen and (min-width: 425px) and (max-width: 614px) {
  .browse-agent {
    display: none;
  }
  .mobile_view_headline07 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }
  .main-agent-sec {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 8% 0 8%;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
  }
  .agent-slider {
    display: none;
  }
  .agent-slider-mobile-view {
    display: block;
    margin-top: 10px;
  }
  #agent_swiper-mobile {
    width: 400px !important;
    height: 350px !important;
  }
  .view-agent-deatils {
    outline: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 424px) {
  .browse-agent {
    display: none;
  }
  .mobile_view_headline07 {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }
  .main-agent-sec {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .agent-slider {
    display: none;
  }
  .agent-slider-mobile-view {
    display: block;
    margin-top: 10px;
  }
  #agent_swiper-mobile {
    width: 400px !important;
    height: 350px !important;
  }
  #agent-swiper-slider {
    margin-left: 3rem;
    margin-right: 3rem;
    width: 300px !important;
  }
}

/* ######################### Article Section ################## */
@media only screen and (min-width: 1400px) and (max-width: 1650px) {
  #articles .col-lg-3 {
    width: 25%;
  }
  #main_articleSec {
    margin: 0 6%;
  }
  #article_main_card {
    width: 20vw !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  #articles .col-lg-3 {
    width: 50%;
  }
  #main_articleSec {
    margin: 0 8%;
  }
  #article_cards {
    gap: 20px 0;
  }
  #article_main_card {
    width: 100% !important;
  }
  #article_card_img {
    height: 30vh;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #articles {
    height: auto;
    margin-bottom: 5vh;
  }
  #articles .col-lg-3 {
    width: 50%;
  }
  #main_articleSec {
    margin: 0 8%;
  }
  #article_cards {
    gap: 20px 0;
  }
  #article_main_card {
    width: 100% !important;
  }
  #article_card_img {
    height: 30vh;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #articles {
    height: auto;
    margin-bottom: 5vh;
  }
  #articles .col-lg-3 {
    width: 50%;
  }
  #main_articleSec {
    margin: 0 8%;
  }
  #article_cards {
    gap: 15px 0;
  }
  #article_main_card {
    width: 100% !important;
  }
  #article_card_img {
    height: 30vh;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  #articles {
    height: auto;
    margin-bottom: 5vh;
  }

  #articles .col-lg-3 {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }

  #main_articleSec {
    margin: 0 8%;
  }

  #article_cards {
    gap: 20px 0;
  }

  #article_main_card {
    width: 50vh !important;
    height: 60vh !important;
  }

  #article_card_img {
    height: 30vh;
  }

  .download_app_platforms {
    flex-direction: row;
    margin-left: -20px;
  }

  .download_app_platforms #playstore_logo img,
  .download_app_platforms #appstore_logo img {
    height: 66px;
  }
}

@media (min-width: 320px) and (max-width: 574px) {
  #articles {
    height: auto;
    margin-bottom: 5vh;
  }

  #articles .col-lg-3 {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }

  .mobile_view_headline06 {
    display: flex;
    color: #000;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 30px;
  }

  #main_articleSec {
    margin: 0 8%;
  }

  #article_cards {
    gap: 20px 0;
    margin-top: 15%;
  }

  .article_headline {
    display: none;
  }

  #article_main_card {
    width: 50vh !important;
    height: 60vh !important;
  }

  #article_card_img {
    height: 30vh;
  }

  .download_app_platforms {
    flex-direction: column;
    margin-left: -20px;
    height: 9rem;
  }

  .download_app_platforms #playstore_logo img,
  .download_app_platforms #appstore_logo img {
    height: 60px;
  }


}


/* ######################### FOOTER SECTION ################## */

@media only screen and (min-width: 1400px) and (max-width: 1650px) {
  #footer .col-lg-3 {
    width: 25%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  #footer .col-lg-3 {
    width: 25%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #footer .col-lg-3 {
    width: 50%;
  }
  .download_app_platforms {
    width: 60%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #footer .col-lg-3 {
    width: 50%;
  }
  #footer_download_section {
    gap: 10px;
  }
  .download_app_platforms {
    width: 60%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #footer .col-lg-3 {
    width: 50%;
  }
  #footer_download_section {
    gap: 10px;
  }
  .download_app_platforms {
    width: 80%;
  }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
  #footer .col-lg-3 {
    width: 75%;
  }
  #footer_download_section {
    gap: 10px;
  }
  .download_app_platforms {
    width: 100%;
  }
  #footer_deatils {
    gap: 20px 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 424px) {
  #footer .col-lg-3 {
    width: 100%;
  }
  #footer_download_section {
    gap: 10px;
  }
  .download_app_platforms {
    width: 100%;
  }
  #footer_deatils {
    gap: 20px 0;
  }
  #footer_download_section {
    gap: 20px;
  }
  .rights_footer {
    margin-top: 20%;
    text-align: center;
  }
}

/* All Prop DEATIL PAGE CSS */
/* @media only screen and (min-width: 1400px) and (max-width: 1849px) {
  .img-overlay button {
    left: 72%;
  }
}
@media only screen and (min-width: 1250px) and (max-width: 1399px) {
  .img-overlay button {
    left: 70%;
  }
}
@media only screen and (min-width: 1101px) and (max-width: 1249px) {
  .img-overlay button {
    left: 66%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1100px) {
  .img-overlay button {
    left: 62%;
  }
} */

@media (max-width: 768px) {
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #breadcrumb-content {
    margin: 0 8% 0 8%;
  }
  #prop-images .col-lg-3 {
    display: block;
    text-align: center;
  }
  .left-imgs01 {
    width: 100%;
    border-radius: 12px;
    height: fit-content;
  }
  .left-imgs02{
    width: 100%;
    border-radius: 12px;
    height: fit-content;
  }
  .right-imgs01{
    width: 100%;
    height: fit-content;
    border-radius: 0 12px 0 0;
    margin-bottom: 10px;
  }
  .right-imgs02 {
    width: 100%;
    height: fit-content;
    border-radius: 0 0 12px 0;
  }
  .middle-img {
    width: 100%;
    height: 100%;

    /* margin: 15px 0; */
    /* border-radius: 12px; */
  }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
  #breadcrumb-content {
    margin: 0 5% 0 5%;
    top: 150px;
  }
  .prop-name {
    font-size: 25px;
  }
  .prop-Location {
    font-size: 14px;
  }
  .right-side-content span {
    font-size: 25px;
  }
  .right-side-content button {
    padding: 5px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 423px) {
  #breadcrumb-content {
    margin: 0 5% 0 5%;
    top: 150px;
  }
  .prop-name {
    font-size: 25px;
  }
  .prop-Location {
    font-size: 14px;
  }
  .prop-sell-time {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
  }
  .right-side-content span {
    font-size: 25px;
  }
  .right-side-content button {
    padding: 5px;
  }
}






/* Shaihid's resposives css  */



@media only screen and (min-width: 768px) and (max-width: 991px) {
  #breadcrumb-content {
    margin: 0 8% 0 8%;
  }

  .download_app_platforms #playstore_logo img,
  .download_app_platforms #appstore_logo img {
    height: 66px;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  #breadcrumb-content {
    margin: 0 5% 0 5%;
    top: 150px;
  }

  .prop-name {
    font-size: 25px;
  }

  .prop-Location {
    font-size: 14px;
  }

  .right-side-content span {
    font-size: 25px;
  }

  .right-side-content button {
    padding: 5px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 423px) {
  #breadcrumb-content {
    margin: 0 5% 0 5%;
    top: 150px;
  }

  .prop-name {
    font-size: 25px;
  }

  .prop-Location {
    font-size: 14px;
  }

  .prop-sell-time {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
  }

  .right-side-content span {
    font-size: 25px;
  }

  .right-side-content button {
    padding: 5px;
  }
}




@media only screen and (min-width: 1400px) and (max-width: 1850px) {

  #main-all-prop {
    margin: 0 3%;
  }

  .all-footer-body {
    gap: 16px;
  }
}


@media only screen and (min-width: 1400px) and (max-width: 1650px) {

  .img-overlay button {
    left: 64%;
  }

  .uper-specification,
  .down-specification {
    gap: 4%;
  }

  #owner-deatils-card .card-body svg {
    width: 3vw;
    height: 8vh;
  }

  #owner-deatils-card #call-o,
  #mail-o,
  #chat-o {
    padding: 8px;
  }

  .enquiry {
    flex-direction: column;
    gap: 10px;
  }

  .enquiry-buttons {
    padding: 0px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .enquiry-buttons svg {
    width: 30px !important;
  }

  /* .properties details  ends */




}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .img-overlay button {
    left: 64%;
  }

  #all-content-deatil {
    margin: 0 4%;
  }

  .uper-specification,
  .down-specification {
    gap: 2%;
  }

  #specification {
    gap: 20px;
  }

  #owner-deatils-card .card-body svg {
    width: 3vw;
    height: 8vh;
  }

  #owner-deatils-card #call-o,
  #mail-o,
  #chat-o {
    padding: 8px;
  }

  .enquiry {
    flex-direction: column;
    gap: 10px;
  }

  .enquiry-buttons {
    padding: 0px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .enquiry-buttons svg {
    width: 30px !important;
  }

  #main-all-prop {
    margin: 0 3%;
  }

  .all-footer-body {
    gap: 16px;
  }

  #all-footer-content {
    gap: 18px;
  }

  #all-prop-card-img {
    width: 340px;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .img-overlay button {
    left: 54%;
  }

  .img-overlay button {
    left: 64%;
  }

  #all-content-deatil {
    margin: 0 4%;
  }

  .uper-specification,
  .down-specification {
    gap: 1%;
  }

  #specification {
    gap: 10px;
  }

  #owner-deatils-card .card-body svg {
    width: 4vw;
    height: 8vh;
  }

  #owner-deatils-card #call-o,
  #mail-o,
  #chat-o {
    padding: 8px;
  }

  .enquiry {
    flex-direction: column;
    gap: 10px;
  }

  .enquiry-buttons {
    padding: 0px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .enquiry-buttons svg {
    width: 30px !important;
  }


  #card-owner-header {
    gap: 14px;
    padding: 12px;
  }

  .owner-contact {
    gap: 24px;
  }

  .deatilss {
    gap: 5px;
    width: 10vw;
  }

  #main-all-prop {
    margin: 0 3%;
  }

  #main-all-prop-card {
    height: fit-content;
  }

  #all-prop-card-footer {
    width: 32vw;
  }

  .all-footer-body {
    gap: 16px;
  }

  #all-footer-content {
    gap: 18px;
    flex-direction: row;
    justify-content: space-between;
  }

  #all-prop-card-img {
    width: 340px;
    height: 100%;
  }

  .all-footer-body {
    gap: 16px;
    flex-direction: column;
  }

  .all-prop_like,
  .all-prop_price {
    right: 60%;
}
.all-prop_price {
  top: 90%;
}

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #prop-images .col-lg-3 {
    display: flex;
    width: 44vw;
    flex-direction: row;
  }

  #prop-images {
    flex-direction: column;
    gap: 12px;
  }

  #prop-main-image {
    width: 100%;
  }

  .middle-img {
    width: 84vw;
    height: 42vh;
  }

  .img-overlay button {
    left: 74%;
  }

  .right-imgs01 {
    border-radius: 0 0px 0 12px;
  }

  .left-imgs02 {
    width: 100%;
    height: 100%;
    border-radius: 0px 12px 0px 0px;
  }

  .about-propertie,
  #features-amenities,
  #propertie-address,
  #prop-video,
  #prop-360-view,
  #owner-deatils-card {
    width: 85vw;
  }

  #owner-deatils-card {
    margin-top: 24px;
  }

  .uper-specification,
  .down-specification {
    gap: 1%;
  }

  #specification {
    gap: 12px;
  }

  #main-all-prop {
    margin: 0 3%;
}

  #main-all-prop-card {
    height: 100%;
    flex-direction: column;
  }

  #all-prop-card-img {
    width: 100%;
    height: 280px;
  }

  .all-prop_sell {
    top: 34%;
    bottom: 60%;
  }

  .all-prop_price {
    top: 35%;
    right: 10%;
  }

  .all-prop_like {
    right: 8%;
  }

  #filter-title {
    gap: 18%;
    justify-content: flex-start;
}

.filter-button-box #props-tabs #prop-sellbutton ,
.filter-button-box #props-tabs #prop-rentbutton {
  font-size: 13px;
}
.apply-filter {
  align-items: center;
}
.posted-duration {
  flex-direction: row;
  gap: 60px;
}
.all-prop-rightside .card {
  border: none;
  margin-top: 12px;
}
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  #prop-images .col-lg-3 {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  #prop-images {
    flex-direction: column;
    gap: 12px;
  }

  #prop-images img {
    border-radius: 12px;
  }

  #prop-main-image {
    width: 100%;
  }

  .middle-img {
    width: 80vw;
    height: 30vh;
  }

  .img-overlay button {
    left: 46%;
  }

  .right-imgs01 {
    border-radius: 0 0px 0 12px;
  }

  .left-imgs02 {
    width: 100%;
    height: 100%;
    border-radius: 0px 12px 0px 0px;
  }

  .about-propertie,
  #features-amenities,
  #propertie-address,
  #prop-video,
  #prop-360-view,
  #owner-deatils-card {
    width: 100%;
  }

  .owner-img {
    width: 18vw;
    height: 12vh;
  }

  #owner-deatils-card {
    margin-top: 24px;
  }

  #features-amenities .card-body {
    flex-direction: row;
  }

  .uper-specification,
  .down-specification {
    gap: 10px;
    flex-wrap: wrap;
  }

  #specification {
    gap: 12px;
  }

  #main-all-prop {
    margin: 0 3%;
  }

  #main-all-prop-card {
    height: fit-content;
  }

  #main-all-prop-card {
    flex-direction: column;
}
#all-prop-card-img {
  width: 100%;
}
.filter-button-box #props-tabs #prop-sellbutton ,.filter-button-box #props-tabs #prop-rentbutton {
  width: 22vw;
}
#all-prop-card-footer {
  width: 100%;
}
#props-tabs {
  width: 60vw;
}
.all-prop_like,.all-prop_price{
  right: 8%;
}
.all-prop_price {
  top: 30%;
}
.all-prop_sell {
  bottom: 66%;
}
.all-footer-body {
  flex-direction: column;
}
#all-footer-content {
  flex-direction: row;
  justify-content: space-between;
}
.posted-duration {
  flex-direction: row;
  gap: 60px;
}
.all-prop-rightside .card {
  border: none;
  margin-top: 12px;
}
}

@media only screen and (min-width: 320px) and (max-width: 424px) {
  #prop-images .col-lg-3 {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  #prop-images {
    flex-direction: column;
    gap: 12px;
  }

  #prop-images img {
    border-radius: 12px;
  }

  #prop-main-image {
    width: 100%;
  }

  .middle-img {
    width: 80vw;
    height: 30vh;
  }

  .img-overlay button {
    padding: 2px 14px;
    left: 40%;
  }

  .right-imgs01 {
    border-radius: 0 0px 0 12px;
  }

  .left-imgs02 {
    width: 100%;
    height: 100%;
    border-radius: 0px 12px 0px 0px;
  }

  .about-propertie,
  #features-amenities,
  #propertie-address,
  #prop-video,
  #prop-360-view,
  #owner-deatils-card {
    width: 100%;
  }

  .owner-img {
    width: 18vw;
    height: 12vh;
  }

  #owner-deatils-card {
    margin-top: 24px;
  }

  #features-amenities .card-body {
    flex-direction: column;
    gap: 10px;
  }

  .uper-specification,
  .down-specification {
    gap: 10px;
    flex-wrap: wrap;
  }

  #specification {
    gap: 12px;
  }

  #specs-deatils {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  #main-all-prop {
    margin: 0 3%;
  }

  #main-all-prop-card {
    height: fit-content;
  }

  #main-all-prop-card {
    flex-direction: column;
}
#all-prop-card-img {
  width: 100%;
  border-radius: 12px;
}
.filter-button-box #props-tabs #prop-sellbutton ,.filter-button-box #props-tabs #prop-rentbutton {
  width: 35vw;
}
#all-prop-card-footer {
  width: 100%;
}
#props-tabs {
  width: 80vw;
}
.all-prop_like,.all-prop_price{
  right: 8%;
}
.all-prop_price {
  top: 26%;
}
.all-prop_sell {
  bottom: 70%;
}
.all-footer-body {
  flex-direction: column;
}
#all-footer-content {
  flex-direction: row;
  justify-content: space-between;
}
.all-prop-rightside .card #all-prop-headline-card {
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.posted-duration {
  flex-direction: row;
  gap: 60px;
}
.all-prop-rightside .card {
  border: none;
  margin-top: 12px;
}
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .posted-duration {
    flex-direction: column;
    gap: 20px;
}
}


/* .properties details  ends */